.divPrincipal{
	display: flex;
	height: calc(100% - 105px);
}

.divInfoNoneSelected{
	font-size: 1.5rem;
	display: flex;
	color: rgb(125,125,125);
	background-color: rgb(225, 225, 225);
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.divInfoSelected{
	background-color: rgb(225, 225, 225);
	width: 100%;
	height: auto;
	overflow: auto;
}