.divPrincipal{
	display: flex;
	height: calc(100% - 105px);
}
.divBotones{
	padding: 1%;
	width: 25%;
	background-color: rgb(50, 50, 50);
}

.divBotones button{
	display: block;
	background-color: lightgray;
	width: 80%;
	height: 10%;
	margin: 10%;
	border-radius: 45px;
	border-width: 5px;
	font-size: 20px;
}

.divContent{
	background-color: rgb(200, 200, 200);
	width: 100%;
}

.divInformacion{
	display: flex;
	justify-content: space-evenly;
	margin: 10px 0px;
}

.divContenedor{
	background-color: white;
	margin: 0px 10px;
	padding: 3px 5px;
	border: 2px solid black;
}

.tabla{
	color: black;
	border-collapse: collapse;
	width: 100%;
}

.tabla thead tr{
	background-color: #ffb500;
}

.tabla th,
.tabla td{
	border: 2px solid black;
	padding: 8px;
	min-width: 100px;
}

.tabla tbody tr:nth-of-type(even){
	background-color: white;
}

.tabla tbody tr:hover{
	background-color: #08001d;
	color: #ffb500;
}

.tabla tbody td:first-of-type{
	text-align: center;
}