html, body{
	height: 100%;
}
body {
	margin: 0;
	font-family: -apple-system, 'Segoe UI',sans-serif,BlinkMacSystemFont, 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1{
	text-align: center;
	height: 100%;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

a{
	text-decoration: none;
	color: blue;
}

#root{
	font-size: 20px;
	height: 100%;
}

button{
	font-size: 20px;
	cursor: pointer;
}